<!DOCTYPE>
<html ng-app>
	<head>
		<script src="js/vendor/angular.js"></script>
		<!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script> -->
		<!-- <link rel="stylesheet" href="http://code.jquery.com/mobile/1.3.2/jquery.mobile-1.3.2.min.css" /> -->
		<!-- <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script> -->
		<!-- <script src="http://code.jquery.com/mobile/1.3.2/jquery.mobile-1.3.2.min.js"></script> -->
		<link rel="stylesheet" href="css/vendor/jquery.mobile-1.3.2.css" />
		<script src="js/vendor/jquery-1.10.2.js"></script>
		<script src="js/vendor/jquery.mobile-1.3.2.js"></script>
		<script src="js/util.js"></script>
		<script src="js/myfood.js"></script>
		<link rel="stylesheet" href="css/myfood.css">
	</head>
	<body>
		<div data-role="page" ng-controller="NavBarCtrl">
			<div data-role="panel" data-display="overlay" id="slide-menu">
				<ul>
					<li><a ng-click="switchPanel('myFridge')">My Fridge</a></li>
					<li><a ng-click="switchPanel('groceryList')">Grocery List</a></li>
					<li><a ng-click="switchPanel('mealPlanner')">Meal Planner</a></li>
					<li><a ng-click="switchPanel('myDishes')">My Dishes</a></li>
				</ul>
			</div><!-- slide-menu -->

			<div class="animate-switch-container" ng-switch on="selection">
				<div data-role="header">
					<a href="#slide-menu" data-icon="bars">Menu</a>
					<h1>{{ heading }}</h1>
					<a href="index.html" data-icon="plus">Add</a>
				</div>
				<div id="mainPage"></div>

				<div ng-switch-when="myFridge" id="myFridge">
					<div ng-controller="MyFridgeCtrl">
						<ul class="unstyled">
							<li ng-repeat="item in fridgeItems">
								<span>{{item}}</span>
							</li>
						</ul>
						<form ng-submit="addItem()">
							<input type="text" ng-model="itemName" size="30" placeholder="Add new item here">
							<input class="btn-primary" type="submit" data-ajax="false" value="add">
						</form>
					</div>
				</div><!-- myFridge -->

				<div ng-switch-default id="groceryList">
					<div ng-controller="GroceryListCtrl">
						<ul class="unstyled">
							<li ng-repeat="item in groceryList">
								<input type="checkbox" ng-model="item.done">
								<span class="done-{{item.done}}">{{item.name}}</span>
							</li>
						</ul>
						<form ng-submit="addItem()">
							<input type="text" ng-model="itemName" size="30" placeholder="Add new item here">
							<input class="btn-primary" type="submit" data-ajax="false" value="add">
						</form>
					</div>
				<div><!-- groceryList -->

				<div ng-switch-when="mealPlanner" id="mealPlanner">
					<div data-role="header">
						<a href="#slide-menu" data-icon="bars">Menu</a>
						<h1>Meal Planner</h1>
						<a href="index.html" data-icon="plus">Add</a>
					</div>
				</div>

				<div ng-switch-when="myDishes" id="myDishes">
					<div data-role="header">
						<a href="#slide-menu" data-icon="bars">Menu</a>
						<h1>My Dishes</h1>
						<a href="index.html" data-icon="plus">Add</a>
					</div>
				</div>

			</div>
		</div>
	</body>
</html>