<!DOCTYPE html>
<html ng-app>
	<head>
		<!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script> -->
		<!-- <link rel="stylesheet" href="http://code.jquery.com/mobile/1.3.2/jquery.mobile-1.3.2.min.css" /> -->
		<!-- <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script> -->
		<!-- <script src="http://code.jquery.com/mobile/1.3.2/jquery.mobile-1.3.2.min.js"></script> -->
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="css/vendor/jquery-ui-1.10.3.custom.min.css" />
		<link rel="stylesheet" href="css/vendor/jquery.mobile-1.3.2.css" />
		<script src="js/vendor/jquery-1.10.2.js"></script>
		<script src="js/vendor/jquery.mobile-1.3.2.js"></script>
		<script src="js/vendor/jquery-ui-1.10.3.custom.min.js"></script>
		<script src="js/vendor/jquery.ui.touch-punch.min.js"></script>
		<script src="js/vendor/angular.js"></script>
		<script src="js/vendor/lz-string-1.3.3.js"></script>
		<script src="js/util.js"></script>
		<script src="js/app.js"></script>
		<script src="js/ui.js"></script>
		<link rel="stylesheet" href="css/myfood.css">
	</head>
	<body ng-controller="MyFoodCtrl">
		<!-- Loading -->
		<div id="loading" data-role="page">
			<div data-role="content">
			</div>
		</div>

		<!-- Fridge -->
		<div id="fridge" data-role="page">
			<div data-role="panel" id="mf-slide-menu" class="slide-menu" data-display="push">
				<div class="link fridge"><div><span>Fridge</span></div></div>
				<div class="link grocery"><span>Grocery</span></div>
				<div class="link recipes"><span>Recipes</span></div>
				<div class="link planner"><span>Planner</span></div>
			</div>
			<div data-role="header" data-position="fixed" data-tap-toggle="false">
				<a href="#mf-slide-menu" data-transition="slide" data-direction="reverse" data-icon="bars">Menu</a>
				<h1>Fridge</h1>
			</div>
			<div data-role="content">
				<form>
					<table style='width:100%'><tr>
						<td>
							<input type="text" data-clear-btn="true" ng-model="fridge.input" size="30" class="autocomplete" placeholder="Add new item here">
						</td>
						<td style='font-size:80%; width:7em'>
							<a class="submit" data-role="button" data-icon="plus" data-inline="true" data-theme="a" ng-click="fridgeAdd()">Add</a>
						</td>
					</tr></table>
				</form>
				<div data-role="controlgroup">
					<label class="selectAll"><input type="checkbox" name="checkbox-0" ng-model="fridge.checkAll" ng-click="fridgeToggleAll()" />Select all</label>
				</div>
				<fieldset data-role="controlgroup">
					<div ng-repeat="item in fridge.names" class="ui-checkbox">
						<label class="listItem fridgeListItem"><input type="checkbox" ng-click="fridgeUpdateChecks()" ng-model="fridge.checked[item]" name="checkbox-0" />{{item}}</label>
					</div>
				</fieldset>
			</div>
			<div data-role="footer" data-position="fixed" data-tap-toggle="false">
				<div data-role="navbar">
					<ul>
						<li><a data-icon="gear" ng-click="fridgeMoveToGrocery()">Move to Grocery</a></li>
						<li><a data-icon="delete" ng-click="fridgeRemove()">Delete</a></li>
					</ul>
				</div>
			</div>
		</div>

		<!-- Grocery -->
		<div id="grocery" data-role="page">
			<div data-role="panel" id="gl-slide-menu" class="slide-menu" data-display="push">
				<div class="link fridge"><span>Fridge</span></div>
				<div class="link grocery"><span>Grocery</span></div>
				<div class="link recipes"><span>Recipes</span></div>
				<div class="link planner"><span>Planner</span></div>
			</div>
			<div data-role="header" data-position="fixed" data-tap-toggle="false">
				<a href="#gl-slide-menu" data-icon="bars">Menu</a>
				<h1>Grocery</h1>
			</div>
			<div data-role="content">
				<form>
					<table style='width:100%'><tr>
						<td>
							<input type="text" data-clear-btn="true" ng-model="grocery.input" size="30" class="autocomplete" placeholder="Add new item here">
						</td>
						<td style='font-size:80%; width:7em'>
							<a class="submit" data-role="button" data-icon="plus" data-inline="true" data-theme="a" ng-click="groceryAdd()">Add</a>
						</td>
					</tr></table>
				</form>
				<div data-role="controlgroup" class="legend-container">
					<div class="ui-checkbox legend left">
						<label class="listItem recipeListItem inFridge">
							<input type="checkbox" name="checkbox-0" ng-model="grocery.checkAllFridge" ng-click="groceryToggleFridge()" />Fridge</label>
					</div>
					<div class="ui-checkbox legend right">
						<label class="listItem recipeListItem">
							<input type="checkbox" name="checkbox-0" ng-model="grocery.checkAllGrocery" ng-click="groceryToggleGrocery()" />Grocery</label>
					</div>	
				</div>
				<fieldset data-role="controlgroup">
					<div ng-repeat="item in grocery.names" class="ui-checkbox">
						<label class="listItem groceryItem" ng-class="{inFridge: grocery.inFridge[item]}"><input type="checkbox" ng-click="groceryUpdateChecks()" name="checkbox-0" ng-model="grocery.checked[item]" />{{item}}</label>
					</div>
				</fieldset>
			</div>
			<div data-role="footer" data-position="fixed" data-tap-toggle="false">
				<div data-role="navbar">
					<ul>
						<li><a data-icon="gear" ng-click="groceryMoveToFridge()">Move to Fridge</a></li>
						<li><a data-icon="delete" ng-click="groceryRemove()">Delete</a></li>
					</ul>
				</div>
			</div>
		</div>

		<!-- Recipes -->
		<div id="recipes" data-role="page">
			<div data-role="panel" id="r-slide-menu" class="slide-menu" data-display="push">
				<div class="link fridge"><span>Fridge</span></div>
				<div class="link grocery"><span>Grocery</span></div>
				<div class="link recipes"><span>Recipes</span></div>
				<div class="link planner"><span>Planner</span></div>
			</div>
			<div data-role="header" data-position="fixed" data-tap-toggle="false">
				<a href="#r-slide-menu" data-icon="bars">Menu</a>
				<h1>Recipes</h1>
			</div>
			<div data-role="content">
				<form>
					<table style='width:100%'><tr>
						<td>
							<input type="text" data-clear-btn="true" ng-model="recipe.input" size="30" placeholder="Add new item here">
						</td>
						<td style='font-size:80%; width:7em'>
							<a class="submit" data-role="button" data-icon="plus" data-inline="true" data-theme="a" ng-click="recipeAdd()">Add</a>
						</td>
					</tr></table>
				</form>
				<div data-role="controlgroup">
					<label class="selectAll"><input type="checkbox" name="checkbox-0" ng-model="recipe.checkAll" ng-click="recipeToggleAll()" />Select all</label>
				</div>
				<fieldset data-role="controlgroup" id="recipeList">
					<div ng-repeat="item in recipe.names" class="ui-checkbox">
						<label class="listItem recipeListItem"><input type="checkbox" ng-click="recipeUpdateChecks()" name="checkbox-0" ng-model="recipe.checked[item]" />{{item}}</label>
						<a class="details" ng-click="recipeView(item)" data-role="button" data-icon="arrow-r" data-inline="true">View</a>
					</div>
				</fieldset>
			</div>
			<div data-role="footer" data-position="fixed" data-tap-toggle="false">
				<div data-role="navbar">
					<ul>
						<li><a data-icon="gear" ng-click="recipeCopyToMeal()">Copy to Planner</a></li>
						<li><a data-icon="delete" ng-click="recipeRemove()">Delete</a></li>
					</ul>
				</div>
			</div>
		</div>

		<!-- Planner -->
		<div id="planner" data-role="page">
			<div data-role="panel" id="mp-slide-menu" class="slide-menu" data-display="push">
				<div class="link fridge"><span>Fridge</span></div>
				<div class="link grocery"><span>Grocery</span></div>
				<div class="link recipes"><span>Recipes</span></div>
				<div class="link planner"><span>Planner</span></div>
			</div>
			<div data-role="header" data-position="fixed" data-tap-toggle="false">
				<a href="#mp-slide-menu" data-icon="bars">Menu</a>
				<h1>Planner</h1>
			</div>
			<div data-role="content">
				<fieldset data-role="controlgroup">
					<a href="#" data-role="button" ng-click="mealMasterRecipe()" data-iconpos="right" data-icon="arrow-r">{{masterRecipe.name}}</a>
				</fieldset>
				<div data-role="controlgroup">
					<label class="selectAll"><input type="checkbox" name="checkbox-0" ng-model="meal.checkAll" ng-click="mealToggleAll()" />Select all</label>
				</div>
				<fieldset data-role="controlgroup">
					<div ng-repeat="item in meal.names" class="ui-checkbox">
						<label class="listItem recipeListItem"><input type="checkbox" ng-click="mealUpdateChecks()" name="checkbox-0" ng-model="meal.checked[item]" />{{item}}</label>
						<a class="details" ng-click="recipeView(item)" data-role="button" data-icon="arrow-r" data-inline="true">View</a>
					</div>
				</fieldset>
			</div>
			<div data-role="footer" data-position="fixed" data-tap-toggle="false">
				<div data-role="navbar">
					<ul>
						<li><a data-icon="gears" ng-click="mealMarkDone()">Mark Done</a></li>
						<li><a data-icon="delete" ng-click="mealRemove()">Delete</a></li>
					</ul>
				</div>
			</div>
		</div>

		<!-- Recipe Ingredients -->
		<div id="recipeIngredients" data-role="page">
			<div data-role="panel" id="ri-slide-menu" class="slide-menu" data-display="push">
				<div class="link fridge"><span>Fridge</span></div>
				<div class="link grocery"><span>Grocery</span></div>
				<div class="link recipes"><span>Recipes</span></div>
				<div class="link planner"><span>Planner</span></div>
			</div>
			<div data-role="header" data-position="fixed" data-tap-toggle="false">
				<a ng-click="backMimic()" data-icon="back">Back</a>
				<a href="#ri-slide-menu" data-icon="bars">Menu</a>
				<h1 id="recipeIngredientsTitle">Recipe Ingredients</h1>
			</div>
			<div data-role="content">
				<form id="recipeIngredientForm">
					<table style='width:100%'><tr>
						<td>
							<input type="text" data-clear-btn="true" ng-model="recipeIngredients.input" size="30" class="autocomplete" placeholder="Add new item here">
						</td>
						<td style='font-size:80%; width:7em'>
							<a class="submit" data-role="button" data-icon="plus" data-inline="true" data-theme="a" ng-click="recipeIngredientsAdd()">Add</a>
						</td>
					</tr></table>
				</form>
				<div data-role="controlgroup" class="legend-container">
					<div class="ui-checkbox legend left">
						<label class="listItem recipeListItem inFridge">
							<input type="checkbox" name="checkbox-0" ng-model="recipeIngredients.checkAllFridge" ng-click="recipeIngredientsToggleFridge()" />Fridge</label>
					</div>
					<div class="ui-checkbox legend middle">
						<label class="listItem recipeListItem inGrocery">
							<input type="checkbox" name="checkbox-0" ng-model="recipeIngredients.checkAllGrocery" ng-click="recipeIngredientsToggleGrocery()" />Grocery</label>
					</div>
					<div class="ui-checkbox legend right">
						<label class="listItem recipeListItem missing">
							<input type="checkbox" name="checkbox-0" ng-model="recipeIngredients.checkAllMissing" ng-click="recipeIngredientsToggleMissing()" />Missing</label>
					</div>
				</div>
				<fieldset data-role="controlgroup" id="recipeIngredientList">
					<div ng-repeat="item in recipeIngredients.names" class="ui-checkbox">
						<label class="listItem recipeListItem" ng-class="{inFridge: recipeIngredients.inFridge[item], inGrocery: recipeIngredients.inGrocery[item], missing: recipeIngredients.missing[item]}"><input type="checkbox" ng-click="recipeIngredientsUpdateChecks()" name="checkbox-0" ng-model="recipeIngredients.checked[item]" />{{item}}</label>
					</div>
				</fieldset>
			</div>
			<div data-role="footer" data-position="fixed" data-tap-toggle="false">
				<div data-role="navbar" id="recipeIngredientNavbar">
					<ul>
						<li><a data-icon="gear" ng-click="recipeIngredientsCopyToGrocery()">Copy to Grocery</a></li>
						<li><a data-icon="delete" ng-click="recipeIngredientsRemove()">Delete</a></li>
					</ul>
				</div>
				<div data-role="navbar" id="recipeIngredientMasterNavbar">
					<ul>
						<li><a data-icon="gear" ng-click="recipeIngredientsCopyToGrocery()">Copy to Grocery</a></li>
					</ul>
				</div>
			</div>
		</div>
		
		<div data-role="popup" id="popup" class="ui-content" data-position-to="window" data-theme="a">
			<p></p>
		</div>

		<div id="left-bucket" class="bucket"></div>
		<div id="right-bucket" class="bucket"></div>
	</body>
</html>